.record-page {
  // .ant-advanced-search-form {
  //   padding: 24px;
  //   background: #fff;
  // }
  // .batch-update-area {
  //   padding: 12px 24px;
  // }
  // .edit-area {
  //   background: #fff;
  //   padding: 24px;
  // }
  padding: 24px;
}

.batch-update-area,
.ant-form-inline {
  .ant-form-item {
    margin-right: -3px;
  }
}
[data-theme='compact'] .ant-advanced-search-form .ant-form-item,
.ant-advanced-search-form .ant-form-item {
  display: flex;
}
.ellipsis {
  overflow: hidden;
  /*文本不会换行*/
  white-space: nowrap;
  /*当文本溢出包含元素时，以省略号表示超出的文本*/
  text-overflow: ellipsis;
}
// .ant-table.ant-table-small
//   .ant-table-tbody
//   .ant-table-wrapper:only-child
//   .ant-table {
//   margin: -8px -8px -8px 0px;
// }
