.page-home {
  padding: 24px;
  .home-section {
    margin-top: 24px;
  }
}
.page-home-header {
  padding: 0 24px;

  background-color: #fff;
}
.site-page-header-ghost-wrapper {
  background-color: #f5f5f5;
}
