.page-home {
  padding: 24px;
  .home-section {
    margin-top: 24px;
  }
  .ant-statistic-title {
    color: rgba(0, 0, 0, 0.45);
  }
  .ant-divider-horizontal {
    margin: 8px 0;
  }
}
.page-home-header {
  padding: 0 24px;

  background-color: #fff;
}
.site-page-header-ghost-wrapper {
  background-color: #f5f5f5;
}
